@model LawyersAdda.ViewModels.LawyerRegisterViewModel


@{
    ViewBag.Title = "RegisterAsLawyer";
}
<h1>Register as a Lawyer</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-sm-8 col-sm-offset-2">
        <form role="form" action="" method="post">

            <fieldset>
                <div class="form-bottom">
                    <div class="form-group">
                        <label class="sr-only" for="form-full-name">Full name</label>
                        <input type="text" placeholder="Full name..." class="form-first-name form-control" id="form-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-email">Email</label>
                        <input type="text" id="form-email" placeholder="Email..." class="form-email form-control">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" placeholder="Password..." class="form-password form-control" id="form-password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-username">Username</label>
                        <input type="text" placeholder="username..." class="form-first-name form-control" id="form-username">
                    </div>
                    <button type="button" class="btn btn-next">Next</button>
                </div>
            </fieldset>

        </form>

    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and go to next section" class="btn btn-lg btn-success" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

</script>