@model IEnumerable<LawyersAdda.Entities.Documentation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </h1>
            <p>
                @Html.Raw(item.DocumentDescription)
            </p>
            <hr />
        </div>
    </div>
}
